.image
{
  margin-top:100px;
  display:flex;
  justify-content:center;
  align-items:center;
}

/*TEXT*/
.text
{
  margin-top:100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
display:flex;
    justify-content:center;
    align-items:center;
}
.text2
{
    margin-top: 425px;
    font-size: 1px;
}

body
{
    background-image: linear-gradient(360deg, pink,white);
}
